@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


* {
  padding:        0;
  margin:         0;
  border:         none;
  box-sizing:     border-box;
  border:         0;
  font:           inherit;
  vertical-align: baseline;
}


.theme-classic {
  color:       #00ef56;
  background:  #001005;
  text-shadow: 0 0 5px #007F26,
               0 0 10px #007F26,
               0 0 20px #007F26,
               0 0 30px #007F26;
}


.theme-classic .buffer::after {
  background-color: #00ef56;
  box-shadow:       0 0 5px #007F26,
                    0 0 10px #007F26,
                    0 0 20px #007F26,
                    0 0 30px #007F26;
}


.theme-race {
  color:       #e50e27;
  background:  #1e080a;
  text-shadow: 0 0 5px #7e000d,
               0 0 10px #7e000d,
               0 0 20px #7e000d,
               0 0 30px #7e000d;
}


.theme-race .buffer::after {
  background-color: #e50e27;
  box-shadow:       0 0 5px #7e000d,
                    0 0 10px #7e000d,
                    0 0 20px #7e000d,
                    0 0 30px #7e000d;
}


.theme-amber {
  color:       #CCAE31;
  background:  repeating-linear-gradient(
                       #171406 0px,
                       #171406 3px,
                       #141303 6px,
                       #141303 9px,
                       #171406 12px);
  text-shadow: 0 0 5px #645410,
               0 0 10px #645410,
               0 0 20px #645410,
               0 0 30px #645410;
}


.theme-amber .buffer::after {
  background-color: #CCAE31;
  box-shadow:       0 0 5px #645410,
                    0 0 10px #645410,
                    0 0 20px #645410,
                    0 0 30px #645410;
}


html {
  width:  100%;
  height: 100%;
}


body {
  display:        flex;
  flex-direction: column;
  align-items:    center;
  align-content:  stretch;
  font-family:    "Press Start 2P", monospace;
  letter-spacing: 0.2rem;
  line-height:    1.3rem;
  font-size:      12px;
  width:          100%;
  height:         100%;
}


section {
  flex-grow:      1;
  display:        flex;
  flex-direction: column;
  align-items:    stretch;
  top:            3rem;
  padding:        1rem 2rem;
  max-width:      960px;
  width:          100%;
}


@media screen and (max-width: 800px) {
  section {
    padding: 1rem 0;
  }
}


p, span {
  white-space: pre;
}


p:empty {
  padding-bottom: 1.6rem;
}


@keyframes cursor {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.prompt {
  display:        flex;
  flex-direction: row;
}


.buffer::after {
  content:   "\a0";
  animation: cursor 1.5s infinite;
}


a, a:visited, a:active {
  color:           inherit;
  text-decoration: none;
  border-bottom:   1px dashed;
}


a:hover {
  border-bottom-style: solid;
}
