<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-Clacks-Overhead" content="GNU Terry Pratchett"/>
    <script src="https://pixijs.download/v6.0.0/<%= pixi %>"></script>
    <title>jarppe.dev</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=VT323&display=swap">
  </head>
  <body>
    <div id="canvasHolder">
    </div>
    <section>
      <h1>Welcome to jarppe.dev</h1>
      <p>
        <img class="profile" src="static/profile.jpg" alt="Profile picture"/>

        This is the home page of me, Jarppe, programmer
        from <a href="https://metosin.fi/">Metosin</a> Ltd.
        <br/>

        I can be found from
        <a href="https://www.linkedin.com/in/jarppe/">LinkedIn</a>,
        <a href="https://github.com/jarppe/">GitHub</a> and
        <a href="https://twitter.com/jarppe">Twitter</a>.
        <br/>

        I enjoy programming, mostly with <a href="https://clojure.org/">Clojure</a>
        and <a href="https://www.typescriptlang.org/">TypeScript</a>.
        <br/>

        I especially like to program some reckless and dangerous stuff like
        <a href="https://vimeo.com/76887566">this</a>.
        <br/>

        Occasionally I give presentations in
        <a href="https://clojutre.org/">truly great conferences</a>,
        like
        <a href="https://www.youtube.com/watch?v=FUV_5Hwi5FU">this</a> and
        <a href="https://www.youtube.com/watch?v=WtdegIqQbrg">this</a>.
        <br/>
      </p>
      <footer>
        Copyright &copy; 2021 Jarppe Länsiö
      </footer>
    </section>
  </body>
</html>
