<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-Clacks-Overhead" content="GNU Terry Pratchett"/>
    <script src="https://pixijs.download/v6.0.0/<%= pixi %>"></script>
    <title>jarppe.dev</title>
    <style>
      body {
        background: black;
      }
      h1 {
        color: #e1e1e1;
        font-family: 'Courier New', Courier, monospace;
        padding: 2rem;
      }
    </style>
  </head>
  <body>
     <h1>jarppe.dev</h1>
  </body>
</html>
