<!DOCTYPE html>
<html lang="en">
  <head>
    <title>jarppe.dev</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-Clacks-Overhead" content="GNU Terry Pratchett"/>
    <link rel="preconnect" href="https://fonts.gstatic.com"/>
    <link rel="author" href="humans.txt" type="text/plain"/>
  </head>
  <body class="theme-classic">
    <section id="tty">
      <div id="history">
      </div>
      <div class="prompt">
        <span class="buffer"></span>
      </div>
    </section>
    <audio id="sound-error" preload="auto">
      <source src="sounds/error.mp3" type="audio/mpeg"/>
    </audio>
    <audio id="sound-click" preload="auto">
      <source src="sounds/click.mp3" type="audio/mpeg"/>
    </audio>
  </body>
</html>
